.input {
  border: 1px solid transparent;
  font-size: 14px;
  height: 24px;
  line-height: 15px;
  padding: 5px 10px;
  border-radius: 4px;
  color: #363636;
  box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
  width: 100%;
  border-color: #ff1c1c;
  margin: 0 5px;
}

.input:focus {
  box-shadow: 0 0 0 0.125em rgba(241, 70, 104, 0.25);
  outline: none;
}
